body {
  background-color: #191414;
  font-family: "Arial", sans-serif;
  color: #fff;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #1db954;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #242424;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #1db954;
}
