<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Your Spotify Playlists</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/playlist-style.css') }}"
    />
  </head>
  <body>
    <h1>Your Spotify Playlists</h1>
    <ul>
      {% for playlist in playlists %}
      <li>
        <a
          href="{{ url_for('views.download_playlist', playlist_id=playlist.id) }}"
          target="_blank"
        >
          {{ playlist.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
